/* Design colors to use */

/* #FCA424 
#0DD39D 
#1A1A1A 
#CDCDCD 
#FEFEFE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  max-height: 100%;
}

html {
  height: 99vh !important;
}

.container {
  height: 99vh !important;
  margin: auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* border: 1px solid lime; */
  /* width: 100vw !important; */
  transform: translate(0px, -3px);
}

body {
  font-family: "Inter", sans-serif;
}

nav {
  height: 27%;
  background-color: rgb(18, 102, 212);
  margin: 8px 8px;
  background-image: linear-gradient(90deg, rgba(90, 90, 90, 0.54) 0%, rgba(26, 26, 26, 0.63) 100%), url(rsz_pexels-michael-spadoni-269949-813465.jpg);
  background-size: 100% 100%
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
}

.funding {
  display: flex;
  gap: 4px;
  align-items: center;
  transform: translate(47px,
      -54px);
}

.chatbubble {
  height: 9px;
  width: 9px;
}

.funding p {
  font-size: 9px;
  color: #FEFEFE;
  font-weight: 540;
}

.button-bell-dp {
  display: flex;
  gap: 14px;
  transform: translate(-17px, 9px);
}

.button-bell-dp a {
  font-size: 9px;
  text-decoration: none;
  padding: 4px 6px;
  color: #CDCDCD;
  background-color: rgba(209, 209, 209, 0.226);
  border: none;
  cursor: pointer;
  display: block;
  transform: scale(20px, 30px);
  height: 20px;
}

.button-bell-dp a:hover {
  background-color: rgb(73, 73, 73, 0.3);
}

/****************/
/*** Hi Emma ***/
/****************/

.button-bell-dp svg {
  height: 16px;
  width: 16px;
  stroke: #FEFEFE;
}

.button-bell-dp img {
  height: 18px;
  width: 18px;
}

.portrait {
  width: 144px;
  height: 144px;
  transform: translate(57px,
      -111px);
}

.waving-hand {
  width: 20px;
  height: 20px;
  transform: translate(-2px, 5px);
}

.infor-email {
  color: #CDCDCD;
}

.texts-beside-dp {
  transform: translate(230px,
      -266px);
  font-size: 9px;
  line-height: 1.8;
  color: #FEFEFE;
}

.Hi-emma {
  font-size: 14px;
  font-weight: 600;
}

/***************************/
/*** Side box with btns ***/
/***************************/

.side-box {
  color: black;
  width: 180px;
  height: 80px;
  background-color: rgba(205, 205, 205, 0.322);
  display: flex;
  gap: 14px;
  padding-left: 10px;
  padding: 10px 10px;
  transform: translate(931px,
      -108px);
}

.profile {
  font-size: 10px;
  color: #FEFEFE;
}

.please {
  font-size: 7px;
  margin-bottom: 8px;
  color: #FEFEFE;
}

.complete-btn {
  font-size: 7px;
  text-decoration: none;
  padding: 4px 6px;
  color: #FEFEFE;
  background-color: #FCA424;
  border: none;
  cursor: pointer;
  display: block;
  transform: scale(20px, 30px);
  height: 18px;
  width: 52px;
  text-align: center;
  /* padding-bottom: 16px; */
}

.complete-btn:hover {
  background-color: #e2941e;
}

.btn-75:hover {
  background-color: rgba(141, 141, 141, 1);
}

.btn-75 {
  font-size: 10px;
  text-decoration: none;
  padding: 8px 6px;
  color: #FEFEFE;
  background-color: rgba(205, 205, 205, 0.504);
  border: none;
  cursor: pointer;
  display: block;
  transform: scale(20px, 30px);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  text-align: center;
  transform: translate(12px, -43px);
  /* padding-bottom: 16px; */
}


/*************************************/
/*** Circle orange border outline ***/
/*************************************/
.circle {
  width: 56px;

  height: 56px;

  border: 3px solid #FCA424;

  border-radius: 50%;

  background-color: none;

  box-sizing: border-box;
}


/****** Camera Icon******/

#Camera {
  width: 16px;
  height: 13px;
  opacity: 63%;
  align-items: center;

}

.camera-div {
  background-color: rgba(205, 205, 205, 0.322);
  width: 15px;
  height: 15px;

  transform: translate(1096px,
      -100px);
}

/***************** ABOUT ME COLUMN ********************/

.about-me {
  width: 250px;
  height: 426px;
  /* background-color: #CDCDCD; */
  transform: translate(8px,
      -360px);
  /* outline: 3px solid lime; */
  border-right: 1px solid rgb(128, 128, 128, 0.3);

}

.about-my-family {
  display: flex;
  /* justify-content: space-between; */
  gap: 100px;
  transform: translate(25px, 54px);
  align-items: center;
}

.About-my {
  font-size: 11px;
  font-weight: 540;
}

.about-my-family img {
  width: 10px;
  height: 10px;
}

.DIV-1-BELOW-ABOUTME {
  transform: translate(25px, 63px)
}

.side-headline {
  font-size: 8px;
  color: #a1a1a1;
  font-weight: 540;
  margin-top: 5px;
  text-transform: uppercase;
}

.side-imgs {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 4px;
  margin-top: 10px;
  margin-bottom: 7px;
}

.text-below-imgs {
  transform: translate(25px, 70px);
  display: flex;
  gap: 145px;
}

.text-below-imgs img {
  width: 10px;
  height: 10px;

}

.text-below-imgs p {
  font-size: 11px;
  font-weight: 540;
  text-transform: uppercase;
}

.details-below-imgs {
  transform: translate(25px, 70px);
}

.tag-below-imgs {
  color: #CDCDCD;
  text-transform: uppercase;
}

.details-below-imgs {
  color: #1A1A1A;
  margin-top: 8px;

}

.details-below-imgs p {
  font-size: 8px;
  margin-bottom: 6px;
  font-weight: 520;
}


/**************DASHBOARD LINKS WITH BUTTON************/
.homeicon {
  width: 20px;
  height: 20px;
  align-items: center;
  margin-right: 3px;

}

.home-btn {
  display: flex;
  align-items: center;
  gap: 4px;
}


#border {
  border-bottom: 2px solid #FCA424;
  color: #000;
}

.link-1 {
  text-decoration: none;
  padding: 3px 36px;
  background-color: #fefefe;
  color: #cdcdcd;
  border: none;
  /* border-bottom: 1px solid #CDCDCD; */
  font-size: 12px;
  font-weight: 600;
  /* margin-top: 9px; */
  /* border-radius: 8px; */
  cursor: pointer;
  align-items: center;
}

.link-1:hover {
  /* background-color: #CDCDCD; */
  /* color: #fc7324; */
  cursor: pointer;
  border-bottom: 2px solid #FCA424;
  color: #000;
}





.dashboard-links {
  padding-right: 27px;
  transform: translate(260px,
      -784px);
  margin-top: none;
  display: flex;
  justify-content: center;
  /* outline: 1px solid lime; */
  border-bottom: 1px solid #CDCDCD;
  width: 1093px;
  height: 44px;
}

.money {
  height: 20px;
  width: 20px;
  transform: translate(-2px, 2px);
}

#border-btm {
  /* padding: 3px 40px; */
  border-bottom: 1px solid #CDCDCD;
}

.claim-btn {
  padding: 1px 10px;
  background-color: #0dd39d;
  text-decoration: none;
  cursor: pointer;
  border: none;
  margin-top: 15px;
  margin-left: 20px;

  color: #FEFEFE;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 530;
  padding-bottom: 4px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 2px;
  transform: translate(30px, -7px);
}

.claim-txt {
  transform: translate(0px, 2px);
  font-weight: 630;
  font-size: 10px;
}

.claim-btn:hover {
  background-color: #11dda7;
  color: #1A1A1A;
}


/**************Three Boxes ***********************/
.main-three-boxes-cont {
  display: flex;
  gap: 27px;
  /* flex-grow: 1; */
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */

  transform: translate(260px, -780px);
  margin-bottom: 10px;
}


.txt-imgs {
  transform: translate(10px, 10px);
}



.three-boxes {
  display: flex;
  gap: 34px;
  /* background-color: */
  width: 340px;
  height: 75px;
  /* height: ; */
  /* padding: 1px 20px; */
  padding-bottom: 1px;
  box-shadow: 2px 2px 2px rgba(161, 161, 161, 0.18);
  align-items: center;
  padding-right: 40px;
  padding-left: 10px;
  justify-content: center;
}

.number {
  border-right: 1px solid rgba(128, 128, 128, 0.17);
  padding-right: 18px;

}

#special-102 {
  border-right: 1px solid rgba(128, 128, 128, 0.17);
  padding-right: 45px;
}



.number p {
  font-size: 54px;
  text-align: center;
  /* box-shadow: 2px 2px 2px rgba(161, 161, 161, 0.09); */
  width: 60px;
  transform: translate(0px, -6px);
  color: #363636;
}

.txt-imgs p {
  /* margin-top: 20px; */
  font-size: 13px;
  color: #a1a1a1;
  margin-bottom: 9px;
  /* width: ; */
}

.circle-imgs {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: -14px;
}

.green-filter {
  background-image:
    linear-gradient(90deg, rgba(94, 208, 174, 0.815), rgba(94, 208, 174, 0.733)), url(./headshots-imgs/black-white-minimal-portrait.jpg);
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;


}

.position {
  transform: translate(45px, -34px);
  /* for 30*30*/
  /* transform: translate(54px, -40px); */
  /* for 25*25 */
}

.green-filter p {
  color: #FEFEFE;

  /* color: #1A1A1A; */
  text-align: center;
  font-size: 14px;
  transform: translate(-2px, 8px);
}

.images {
  margin-left: 10px;
}


/*********Amelia Kamani Credentials *********/

.Amelia-Kimani {
  /* background-color: #b3b3b3; */
  /* outline: 1px solid lime; */
  display: flex;
  gap: 20px;
  height: 83px;
  overflow-x: hidden;
  overflow-y: hidden;
  transform: translate(270px,
      -777px);
  width: 698px;
  box-shadow: 1px 1px 9px rgba(161, 161, 161, 0.2);
  margin-bottom: 14px;
}

#ADJUSTMENTS {
  height: 86px !important;
}

#ADJUSTMENTS .amelia-dp {
  height: 80px !important;
  width: 80px !important;
}


.amelia-dp {
  width: 80px;
  height: 83px;
  border-radius: 4%;
}

.text-div {
  font-weight: 630;
}


.name {
  font-size: 13px;
  font-weight: 500;
  color: #1A1A1A;
  text-transform: uppercase;
  margin-bottom: 8px;
}


.amelia-details span {
  color: #a1a1a1;
  font-size: 10px;
}

/* .amelia-details svg {
  margin-right: 8px; 
} */




.amelia-details {
  font-size: 10px;
  color: #cdcdcd;
  margin-bottom: 4px;
}

.calender {
  margin-right: 8px;
  align-items: center;
}

.position-text {
  display: flex;
  margin-left: -1px;
}

.due-icon {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  align-items: center;
}

.marker-edit {
  display: flex;
  margin-left: -4px;
}

.address-marker {
  transform: translate(4px, -4px);
  /* transform: scale(.5), translate(0px, -12px); */
  margin-right: 10px;
}

.position-marker {
  transform: translate(0px, -3px);
}

#pay {
  transform: translate(270px, -30px);
  background-color: #FCA424;
  padding: 3px 15px;
  font-weight: 630;
}



#pay:hover {
  background-color: #e09420;
}

.money:hover {
  background-color: #e09420;
}


.pay-svg {
  transform: translate(0px, 1px);
}

/***************** aCTIVITY BOX ********************/

.activity-box {
  width: 333px;
  /* 370*/
  height: 270px;
  /* background-color: lime; */
  /* outline: 1px solid lime; */
  transform: translate(999px,
      -1069px);
}

.activity-first {
  /* background-color: lightcoral; */
  margin-bottom: 50px;
  margin-top: 1px;
}

.act-title {
  font-size: 14px;
  color: #a1a1a1;
  /* padding: 9px 9px; */
}

.act-title-box {
  padding: 9px 9px;
  border-bottom: 1px solid rgb(128, 128, 128, 0.2);
}

.act-subheading {
  font-size: 14px;
  margin-bottom: 5px;
  color: #1A1A1A;
}

.circle-act {
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 5px;
}

.act-desp {
  width: 180px;
  font-size: 10px;
  margin-left: 20px;
  /* margin-bottom: 2px; */
  color: #b3b3b3;
}

.act-time {
  font-size: 10px;
  margin-left: 20px;
  color: #cdcdcd;
  transform: translate(0px, 5px);
}

.line-bar {
  height: 36px;
  width: 36px;
  transform: translate(330px, -26px);
}

#remove-space {
  height: 42px !important;
}

/* .outline {
  outline: 1px solid skyblue; 
} */

.elementsforscroll {
  height: 210px;

}

.scroll {
  overflow-x: hidden;
  overflow-y: auto;
}

.scroll::-webkit-scrollbar {
  width: 5px;
}

.scroll::-webkit-scrollbar-track {
  background: #FFFFFF;
  /* height: 20px; */
}

.scroll::-webkit-scrollbar-thumb {
  background: #FCA424;
  height: 20px !important;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: #fc7324;
}

.scroll::-webkit-scrollbar-button {
  display: none;
}

#blue-margin {
  margin-bottom: 5px;
}

.circle-blue {
  width: 14px;

  height: 14px;

  border: 3px solid #8ec7fd;

  border-radius: 50%;

  background-color: none;

  box-sizing: border-box;
  transform: translate(3px, 16px);
}

.circle-orange {
  width: 14px;

  height: 14px;

  border: 3px solid #ffcf7b;

  border-radius: 50%;

  background-color: none;

  box-sizing: border-box;
  transform: translate(3px, 16px);
}

.circle-green {
  width: 14px;

  height: 14px;

  border: 3px solid #91f7b5;

  border-radius: 50%;

  background-color: none;

  box-sizing: border-box;
  transform: translate(3px, 16px);
}

.circle-red {
  width: 14px;

  height: 14px;

  border: 3px solid #fc7777;

  border-radius: 50%;

  background-color: none;

  box-sizing: border-box;
  transform: translate(3px, 16px);
}